.hero-1 {
    position: relative;
    
    @include breakpoint (max-xl){
       padding-top: 150px;
       text-align: center;
    }

    .line-shape {
        position: absolute;
        left: 0;
        right: 0;
        top: 130px;
        z-index: -1;
        opacity: .5;

        @include breakpoint (max-xxl){
            display: none;
        }
    }

    .hero-info {
        @include flex;
        gap: 15px;
        position: absolute;
        right: 150px;
        bottom: 150px;

        @include breakpoint (max-xxl){
            right: 80px;
            bottom: 70px;
        }

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .vec-shape {
        position: absolute;
        right: 16%;
        bottom: 28%;
        @include breakpoint (max-xxl){
            display: none;
        }
    }

    .container {
        max-width: 1585px;
    }

    .hero-content {

        @include breakpoint (max-xl){
            text-align: center;
        }

        p {
            font-size: 18px;
            color: #888;
            font-weight: 500;
            letter-spacing: 5.4px;
            text-transform: uppercase;
            margin-bottom: 30px;

             @include breakpoint (max-sm){
                font-size: 15px;
                margin-bottom: 15px;
            }
        }

        h1 {
            line-height: 80%;
            margin-bottom: 40px;
            font-size: 100px;

            @include breakpoint (max-xxxl){
                font-size: 80px;
                line-height: 95%;
            }

            @include breakpoint (max-xxl){
                font-size: 65px;
                line-height: 115%;
                margin-bottom: 30px;
            }

            @include breakpoint (max-xl){
                margin-bottom: 30px;
                font-size: 100px;
                 line-height: 80%;
            }

            @include breakpoint (max-md){
                font-size: 70px;
                line-height: 110%;
            }

             @include breakpoint (max-sm){
                font-size: 68px;
                line-height: 110%;
                margin-bottom: 25px;
            }

             @include breakpoint (max-xxs){
                font-size: 48px;
                line-height: 110%;
                margin-bottom: 20px;
            }

            b {
                color: $theme-color;
            }

            strong,span {
                font-size: 65px;
                color: $theme-color;

                @include breakpoint (max-md){
                    font-size: 55px;
                }

                 @include breakpoint (max-sm){
                    font-size: 48px;
                }

                 @include breakpoint (max-xxs){
                    font-size: 40px;
                }
            }
        }

        .social-link {
            @include flex;
            gap: 20px;
            margin-top: 100px;

            @include breakpoint (max-xxl){
                margin-bottom: 40px;
            }

            @include breakpoint (max-xl){
               margin-top: 50px;
               justify-content: center;
               margin-bottom: 40px;
            }

            @include breakpoint (max-lg){
               margin-top: 40px;
               margin-bottom: 30px;
            }

            @include breakpoint (max-md){
               margin-top: 30px;
            }

             @include breakpoint (max-sm){
               margin-top: 20px;
               margin-bottom: 20px;
            }

            a {
                font-size: 16px;
                font-weight: 400;
                color: $text-color;

                &:hover {
                    color: $theme-color;
                }
            }
        }
    }

    .hero-image {
        margin-left: -150px;

        @include breakpoint (max-xxxl){
            max-width: 550px;

            img {
                @include imgw;
            }
        }

        @include breakpoint (max-xxl){
            max-width: 440px;

            img {
                @include imgw;
            }
        }

        @include breakpoint (max-xl){
            margin-left: 0;
            max-width: 600px;
            margin: 30px auto 0;

            img {
                @include imgw;
            }
        }
    }

    .content {
         .video-btn {
            @include flex;
            gap: 9px;
            margin-top: 70px;

            @include breakpoint (max-xxl){
                margin-top: 50px;
            }

            @include breakpoint (max-xl){
               margin-top: 50px;
               justify-content: center;
            }

            @include breakpoint (max-lg){
               margin-top: 40px;
            }

            @include breakpoint (max-md){
               margin-top: 30px;
            }

             @include breakpoint (max-sm){
               margin-top: 20px;
            }

            span {
            margin-bottom: 0;
            }

        .icon {
          width: 56px;
          height: 56px;
          border-radius: 100px;
          border: 1px solid rgba(102, 102, 102, 0.16);
          border-radius: 100px;
            border: 1px solid rgba(193, 193, 193, 0.16);
            background: #171914;

          @include flex;
          justify-content: center;

          i {
            color: $theme-color;
          }
        }

        .text {
          font-size: 14px;
          font-weight: 400;
          text-transform: uppercase;
          color: #7E7E7E;
        }
        }

        p {
            max-width: 390px;

             @include breakpoint (max-xl){
                margin: 0 auto;
            }
        }
    }
}

.marquee-section {
    background-color: $theme-color;
    padding: 40px 0;
}

.hero-2 {
    padding: 100px 0 0;
    position: relative;
    z-index: 9;

    @include breakpoint (max-xl){
        background-image: none !important;
    }

     .video-btn {
        @include flex;
        gap: 9px;
        margin-top: 130px;

         @include breakpoint (max-xl){
               margin-top: 50px;
               justify-content: center;
            }

             @include breakpoint (max-lg){
               margin-top: 40px;
            }

             @include breakpoint (max-md){
               margin-top: 35px;
            }

             @include breakpoint (max-sm){
               margin-top: 30px;
            }

             @include breakpoint (max-xxs){
               margin-top: 25px;
            }

        span {
            margin-bottom: 0;
        }

        .icon {
          width: 56px;
          height: 56px;
          border-radius: 100px;
          border: 1px solid rgba(102, 102, 102, 0.16);
          border-radius: 100px;
            border: 1px solid rgba(193, 193, 193, 0.16);
            background: #171914;

          @include flex;
          justify-content: center;

          i {
            color: $theme-color;
          }
        }

        .text {
          font-size: 14px;
          font-weight: 400;
          text-transform: uppercase;
          color: #7E7E7E;

        }
      }

    .shape-1 {
        position: absolute;
        top: 41%;
        left: 17%;

        @include breakpoint (max-xl4){
            top: 45%;
            left: 5%;
        }

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .shape-2 {
        position: absolute;
        top: 21%;
        right: 36%;

         @include breakpoint (max-xxl){
            display: none;
        }
    }

    .shape-3 {
        position: absolute;
        top: 48%;
        right: 2%;

         @include breakpoint (max-xxl){
            display: none;
        }
    }

    .shape-4 {
        position: absolute;
        top: 73%;
        right: 53%;

         @include breakpoint (max-xxl){
            display: none;
        }
    }

    .shape-5 {
        position: absolute;
        bottom: 12%;
        right: 40%;
    }

    .name {
        position: absolute;
        bottom: 4%;
        right: 40%;

        h3 {
            font-size: 24px;
            font-weight: 700;
            color: $theme-color;

            .text-1 {
                font-size: 24px;
                font-weight: 700;
                color: $text-color;
            }

            .text-2 {
                font-size: 24px;
                font-weight: 700;
                color: $white;
            }
        }

        p {
            font-size: 14px;
            font-weight: 500;

        }
    }

    .hero-content {
        margin-left: -35px;
        margin-top: 110px;

        @include breakpoint (max-xxxl){
            margin-left: 0;
        }

        @include breakpoint (max-xl){
            margin-left: 0;
            margin-top: 30px;
            text-align: center;
        }

        h1 {
            font-size: 148px;
            font-weight: 700;
            line-height: 1;

            @include breakpoint (max-xxxl){
                font-size: 130px;
            }

             @include breakpoint (max-xl){
                font-size: 85px;
                line-height: 130%;
            }

            @include breakpoint (max-lg){
                font-size: 75px;
                line-height: 140%;
            }

            @include breakpoint (max-md){
                font-size: 60px;
            }

            @include breakpoint (max-sm){
                font-size: 48px;
            }

            @include breakpoint (max-xxs){
                font-size: 35px;
            }

            .text-1 {
                font-size: 70px;
                font-weight: 700;
                letter-spacing: -0.7px;

                 @include breakpoint (max-xxxl){
                    font-size: 60px;
                }

                 @include breakpoint (max-xxl){
                    font-size: 50px;
                }

                 @include breakpoint (max-xl){
                    font-size: 85px;
                }

                @include breakpoint (max-lg){
                    font-size: 75px;
                }

                @include breakpoint (max-md){
                    font-size: 60px;
                }

                 @include breakpoint (max-sm){
                    font-size: 48px;
                }

                @include breakpoint (max-xxs){
                    font-size: 35px;
                }
            }

            .text-2 {
                font-size: 70px;
                font-weight: 700;
                color: $theme-color;
                letter-spacing: -0.7px;

                 @include breakpoint (max-xxxl){
                    font-size: 60px;
                }

                 @include breakpoint (max-xxl){
                    font-size: 50px;
                }

                 @include breakpoint (max-xl){
                    font-size: 85px;
                }

                 @include breakpoint (max-lg){
                    font-size: 75px;
                }

                 @include breakpoint (max-md){
                    font-size: 60px;
                }

                @include breakpoint (max-sm){
                    font-size: 48px;
                }

                 @include breakpoint (max-xxs){
                    font-size: 35px;
                }
            }
        }

        .sub-text {
            font-weight: 700;
            color: $theme-color;
            letter-spacing: -1.48px;
            font-family: $heading-font;
            margin-left: 13%;
            display: inline-block;

            @include breakpoint (max-xl){
                margin-left: 0;
                display: inline-block;
            }
        }

        p {
            max-width: 360px;
            margin-top: 90px;

             @include breakpoint (max-xl){
               margin-top: 50px;
               margin: 0 auto;
            }

             @include breakpoint (max-lg){
               margin-top: 40px;
            }

             @include breakpoint (max-md){
               margin-top: 35px;
            }

             @include breakpoint (max-sm){
               margin-top: 30px;
            }

             @include breakpoint (max-xxs){
               margin-top: 25px;
            }
        }
    }

    .hero-image {
        margin-left: -240px;

        @include breakpoint (max-xxxl){
            margin-left: -405px;
        }

        @include breakpoint (max-xxl){
            margin-left: -220px;
        }

        @include breakpoint (max-xl){
            margin-left: 0;
            max-width: 500px;
            margin: 0 auto;

            img {
                @include imgw;
            }
        }
    }
}

.page-wrapper-3 {
    padding: 60px;

    @include breakpoint (max-xxxl){
        padding: 35px 30px;
    }

     @include breakpoint (max-xxl){
       margin-top: 100px;
    }

    @include breakpoint (max-xl){
        padding: 35px 22px;
    }

    @include breakpoint (max-lg){
        padding: 30px 18px;
    }

    @include breakpoint (max-md){
        padding: 25px 15px;
    }

    .sidebar-sticky-item {
        border-left: 1px solid rgba(255, 255, 255, 0.20);
        padding-left: 60px;
        display: grid;
        align-items: center;
        gap: 200px;

        @include breakpoint (max-xxxl){
            padding-left: 30px;
        }

        .sidebar__toggle {
            width: 60px;
            height: 60px;
            line-height: 60px;
            display: inline-block;
            border-radius: 50%;
            border: 1px solid rgba(255, 255, 255, 0.20);
            text-align: center;
            cursor: pointer;
        }

        .mail-info {
            color: #888;
            @include flex;
            gap: 10px;
            writing-mode: sideways-lr;

            a {
                color: #888;
            }
        }

         .social-icon {
            gap: 10px;
            display: grid;
            align-items: center;
            margin-top: 10px;

            a {
                display: inline-block;
                width: 50px;
                height: 50px;
                line-height: 50px;
                border-radius: 100px;
                border: 1px solid rgba(255, 255, 255, 0.20);
                background: #1C1D20;
                text-align: center;
                font-size: 16px;

                i {
                    -webkit-transition: all 900ms ease;
                    transition: all 900ms ease;
                }

                &:hover {
                    color: $theme-color;
                    border: 1px solid $theme-color;

                    i {
                        -webkit-transform: rotateY(360deg);
                            transform: rotateY(360deg);
                    }
                }
            }
        }
    }
}

.view-portfolio-item {
    border-radius: 20px;
    background: #1A1A1A;
    padding: 30px;

    @include breakpoint (max-xxxl){
        padding: 20px;
    }

    @include breakpoint (max-lg){
        max-width: 500px;
        margin: 0 auto;
    }

    .top-head {
        @include flex;
        justify-content: space-between;
        margin-bottom: 30px;

        span {
            color: #888;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            display: inline-block;
            border-radius: 100px;
            border: 1px solid rgba(255, 255, 255, 0.20);
            padding: 10px 18px;
            line-height: 1;
            position: relative;
            padding-left: 30px;

            @include breakpoint (max-xxxl){
                font-size: 14px;
            }

           &::before {
                position: absolute;
                top: 13px;
                left: 14px;
                content: "";
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: $theme-color;
                animation: colorChange 4s infinite alternate;
            }

            @keyframes colorChange {
                0% {
                    background-color: $theme-color;
                }
                50% {
                    background-color: $text-color;
                }
                100% {
                    background-color:$theme-color;
                }
            }

        }
    }

    .thumb {
        img {
            @include imgw;
            border-radius: 10px;
        }
    }

    .content {
        text-align: center;
        margin-top: 30px;

        .line-ani {
            margin-top: -25px;

            @include breakpoint (max-xxl){
            display: none;
        }
        }

        h3 {
            color: $white;
            font-size: 50px;
            font-weight: 700;
            text-transform: uppercase;

            @include breakpoint (max-md){
               font-size: 44px;
            }

             @include breakpoint (max-xxs){
               font-size: 38px;
            }
        }

        .text {
            color: #888;
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 25px;
        }

        .theme-btn {
            width: 100%;
            height: 52px;
            line-height: 52px;
            margin-bottom: 10px;
        }

        .counter-box {
            @include flex;
            justify-content: space-between;
            border-radius: 100px;
            border: 1px solid rgba(255, 255, 255, 0.20);
            padding: 19px 35px;
            line-height: 1;

            @include breakpoint (max-xxxl){
                padding: 16px 20px;
            }

            .border-style {
                width: 1px;
                height: 34px;
                background: rgba(255, 255, 255, 0.20);

                @include breakpoint (max-sm){
                    display: none;
                }
            }

            .counter-text {
                h5 {
                    color: #888;
                    font-size: 16px;
                    font-weight: 500;
                    text-transform: uppercase;
                    font-family: $body-font;
                    color: #888;
                    margin-bottom: 5px;
                    text-align: left;
                }

                p {
                    color: #888;
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: capitalize;

                    @include breakpoint (max-xxxl){
                        font-size: 12px;
                    }
                }
            }
        }
    }
}


.page-wrap-item {
    max-width: 700px;

    @include breakpoint (max-xxl){
        max-width: initial;
    }

    .hero-3 {
        h5 {
            color: #888;
            font-size: 50px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1.2;

            @include breakpoint (max-sm){
                font-size: 45px;
            }

            @include breakpoint (max-xxs){
                font-size: 38px;
            }
        }

        h3 {
            color: #BFF747;
            font-size: 100px;
            font-weight: 700;
            line-height: 1;
            text-transform: uppercase;

            @include breakpoint (max-xxxl){
                font-size: 80px;
            }

             @include breakpoint (max-xl){
                font-size: 65px;
            }

            @include breakpoint (max-lg){
                font-size: 80px;
                margin-top: 5px;
            }

            @include breakpoint (max-md){
                font-size: 65px;
            }

             @include breakpoint (max-sm){
                font-size: 55px;
            }

            @include breakpoint (max-xxs){
                font-size: 44px;
            }
        }

        h1 {
            color: $white;
            font-size: 200px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1;

            @include breakpoint (max-xxxl){
                font-size: 160px;
            }

            @include breakpoint (max-xl){
                font-size: 130px;
            }

             @include breakpoint (max-lg){
                font-size: 140px;
                margin-top: 5px;
            }

             @include breakpoint (max-md){
                font-size: 120px;
                margin-top: 5px;
            }

            @include breakpoint (max-sm){
                font-size: 90px;
                margin-top: 5px;
            }

             @include breakpoint (max-xxs){
              font-size: 70px;
                margin-top: 5px;
            }
        }

        .hero-text {
            @include flex;
            justify-content: space-between;
            margin-top: 30px;

            @include breakpoint (max-xxxl){
                flex-wrap: wrap;
                gap: 20px;
            }

            @include breakpoint (max-xxl){
               justify-content: start;
            }

            p {
                color: #888;
                font-size: 16px;
                font-weight: 400;
                line-height: 150%;
                text-transform: uppercase;
                max-width: 425px;

                @include breakpoint (max-xl4){
                    font-size: 15px;
                    line-height: 164%;
                    max-width: 350px;
                }

                @include breakpoint (max-xxxl){
                    font-size: 13px;
                    line-height: 164%;
                    max-width: 350px;
                }
            }
        }
    }
}

.hero-4 {
    padding: 120px 0 0;
    position: relative;

    .container-fluid {
        padding: 0 155px;
        padding-right: 90px;

        @include breakpoint (max-xl){
            padding: 0 30px;
            padding-right: 30px;
        }
    }

    .hero-content {
        h1 {
            font-size: 100px;
            color: $header-color;
            line-height: 110%;
            font-weight: 700;
            line-height: 150%;
            margin-bottom: 110px;

            span {
                border-radius: 22px;
                border: 3px solid rgba(255, 255, 255, 0.30);
                color: $theme-color;
                line-height: 1;
                padding: 0 10px;
            }

            @include breakpoint (max-xxl){
                font-size: 90px;
                margin-bottom: 60px;

                br {
                    display: none;
                }
            }

            @include breakpoint (max-lg){
                font-size: 80px;
                margin-bottom: 50px;
                line-height: 100%;
            }

            @include breakpoint (max-md){
                font-size: 70px;
                margin-bottom: 40px;
            }

            @include breakpoint (max-sm){
                font-size: 50px;
                margin-bottom: 30px;
            }
        }

        h6 {
            color: $white;
            font-size: 18px;
            font-weight: 500;
            font-family: $body-font;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        .hero-brand-slider {
            max-width: 690px;
            margin-left: initial;
            
        }
    }

    .hero-image {
       position: absolute;
       top: 40px;
       right: 60px;
       z-index: -1;
    }

    .hero-bottom-area {
        margin-top: 110px;
        display: flex;
        align-items: end;
        justify-content: space-between;

        p {
            color: #888;
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;
            text-transform: uppercase;
            max-width: 360px;
        }

        .social-text {
            @include flex;
            gap: 35px;

            a {
                color: #888;
                text-align: center;
                font-size: 18px;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
    }
}

.banner-four {
  background-color: var(--black);
  padding: 260px 0px 130px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-bottom: 1px solid #414141;
  &::before {
    content: "";
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: left top 100px;
    background-image: url("../images/banner/line.png");
  }
  .intro {
    padding-left: 180px;
    p {
      max-width: 400px;
      margin-bottom: 30px;
    }
  }

  .arrow {
    position: relative;
    display: block;
    width: 100%;
    max-width: 740px;
    &::before {
      content: "";
      position: absolute;
      left: 0px;
      right: 0px;
      height: 2px;
      width: calc(100% - 6px);
      background-color: var(--white);
    }
    &::after {
      content: "\f105";
      font-family: "Font Awesome 6 Pro";
      position: absolute;
      right: 4px;
      top: 50%;
      transform: translateY(-48%);
      font-size: 24px;
    }
  }

  .banner-four__content {
    position: relative;
    z-index: 9;
  }

  .banner-four__title {
    max-width: 1100px;
    margin-top: 70px;
    h1 {
      text-transform: uppercase;
      font-weight: 900;
      text-align: center;
    }

    .frame {
    //   @include box(160px);
      display: inline-flex;
      font-size: 46px;
      position: relative;
      color: white;
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0px;
        animation: rotateInfinite 24s linear infinite;
        animation-play-state: running;
      }

      i {
        // @include box(110px);
        background-color: var(--primary-color);
      }

      &:hover {
        img {
          animation-play-state: paused;
        }
      }
    }
  }

  .small {
    position: absolute;
    top: 260px;
    left: 9%;
    z-index: 2;
    max-width: 15vw;
  }

  .large {
    position: absolute;
    top: 100px;
    right: 6%;
    z-index: -1;
    max-width: 30vw;
  }
}


.gt-vertical-portfolio {
  .slider {
    min-height: 50vh;

    .swiper-slide {
      overflow: hidden;
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;

      .slide-inner {
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;

        img {
          position: absolute;
          width: 100vw;
          height: 100vh;
          object-fit: cover;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }

  .swiper-container {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .theme-btn {
    border: 1px solid 1px solid rgba(255, 255, 255, 0.16);
    color: $white;
    margin-top: 50px;

    &:hover {
        color: $black;
    }
  }

  .hero-content {
      max-width: 400px;

    h6 {
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.16);
        margin-bottom: 20px;
        font-size: 28px;
    }

    p {
        color: $white;
    }

  }

  &__content {
    z-index: 9;
    left: 50px;
    right: 50px;
    bottom: 100px;
    position: absolute;
    z-index: 99;
    display: flex;
    align-items: end;
    justify-content: space-between;

    &-title {
      opacity: 0;
      font-size: 100px;
      line-height: 1.05;
      color: var(--white);
      transform: translateY(-130px);
      position: relative;
      z-index: 999;
      max-width: 800px;

      a {
        &:hover {
          color: var(--white);
        }
      }
    }
  }

 
  .swiper-slide-active {
    .gt-vertical-portfolio {
      &__item {
        animation-name: qodef-animate-slide-out;
        animation-duration: 1.3s;
        animation-fill-mode: forwards;
      }

      &__content {
        &-title {
          opacity: 1;
          transform: translateY(0px);
          transition: all 2200ms ease;
        }
      }
    }
  }

  &__slider {
    width: 100vw;
    height: 100vh;

    &__arrow {
      gap: 40px;
      right: 50px;
      bottom: 50px;
      z-index: 99;
      display: flex;
      position: absolute;
      align-items: center;

      &-prev,
      &-next {
        gap: 8px;
        display: flex;
        font-size: 14px;
        font-weight: 600;
        align-items: center;
        color: var(--white);
      }
    }
  }

  .array-button {
        display: grid;
        align-items: center;
        gap: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 50px;
        z-index: 999;

        @include breakpoint (max-xxxl){
            display: none;
        }

        .array-prev,.array-next {
            border-radius: 100px;
            border: 1.5px solid rgba(255, 255, 255, 0.20);
            width: 48px;
            height: 48px;
            line-height: 48px;
            text-align: center;
            border-radius: 50%;
            color: $theme-color;
            @include transition;
            cursor: pointer;
           

            &:hover {
                background-color: $theme-color;
                color: #060606;
            }
        }
    }
}

.gt-horizontal-portfolio {
  .slider {
    min-height: 100vh;

    .swiper-slide {
      overflow: hidden;
      position: relative;
      height: 100vh;
      display: flex;
      justify-content: center;

      .slide-inner {
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;

        img {
          position: absolute;
          width: 100vw;
          height: 100vh;
          object-fit: cover;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }

  .swiper-container {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .theme-btn {
    border: 1px solid rgba(255, 255, 255, 0.16);
    color: $white;
    margin-top: 50px;

    &:hover {
      color: $black;
    }
  }

  .hero-content {
    max-width: 400px;

    h6 {
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.16);
      margin-bottom: 20px;
      font-size: 28px;
    }

    p {
      color: $white;
    }
  }

  &__content {
    z-index: 9;
    left: 50px;
    right: 50px;
    bottom: 100px;
    position: absolute;
    display: flex;
    align-items: end;
    justify-content: space-between;

    &-title {
      opacity: 0;
      font-size: 100px;
      line-height: 1.05;
      color: var(--white);
      transform: translateY(-130px);
      position: relative;
      max-width: 800px;
      transition: all 2s ease;

      a:hover {
        color: var(--white);
      }
    }
  }

  .swiper-slide-active {
    .gt-horizontal-portfolio__content-title {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .array-button {
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 999;

    @include breakpoint(max-xxxl) {
      display: none;
    }

    .array-prev,
    .array-next {
      border: 1.5px solid rgba(255, 255, 255, 0.2);
      width: 48px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      border-radius: 50%;
      color: $theme-color;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: $theme-color;
        color: #060606;
      }
    }
  }
}

.gt-portfolio-parallax-box-slider {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    margin-left: 10px;
    position: relative;
    align-items: center;
    justify-content: flex-start;

    .gt-parallax-slider-inner {
        gap: 10px;
        width: 100%;
        height: 100vh;
        display: flex;
        padding-top: 80px;
        align-items: center;
        justify-content: flex-start;
    }

    .gt-parallax-slider-item {
        width: 500px;
        height: 100%;
        overflow: hidden;
        position: relative;
        background-size: cover;
        border-radius: 20px;

        img {
           height: 70%;
            min-width: 750px;
            object-fit: cover;
            margin-left: -50px;
            background-size: cover;
            background-position: center;
            border-radius: 20px;
        }
    }

    .content {
      margin-top: 20px;

      h3 {
        font-weight: 700;
        margin-top: 5px;
        font-size: 30px;

        a {
          &:hover {
            color: $theme-color;
          }
        }
      }
    }
}



.hero-5  {
    background: #060606;
    margin: 0 40px;
    z-index: 9;
    padding: 120px 0 0;

    @include breakpoint (max-xxl) {
        margin: 0 30px;
    }

    @include breakpoint (max-sm) {
        margin: 0 15px;
    }

    .container-fluid {
        padding: 0 110px;

         @include breakpoint (max-xl4) {
            padding: 0 50px;
        }

         @include breakpoint (max-xxxl) {
            padding: 0 50px;
        }

         @include breakpoint (max-xxl) {
            padding: 0 30px;
        }

        @include breakpoint (max-sm) {
            padding: 0 15px;
        }
    }

    .text-box {
        @include flex;
        gap: 12px;
        border-radius: 100px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(20px);
        transform: rotate(-45deg);
        position: absolute;
        bottom: 240px;
        left: 530px;
        z-index: 99999;
        padding: 10px 16px;

         @include breakpoint (max-xxxl) {
            bottom: 175px;
            left: 324px;
        }

        @include breakpoint (max-xxl) {
            display: none;
        }

        &.style-2 {
            transform: rotate(-30deg);
        }

        h6 {
            color: $body-bg;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
            font-family: $body-font;

            b {
                color: #ECB014;
                font-weight: 500;
            }
        }

        span {
            border-radius: 100px;
            border: 1px solid rgba(255, 255, 255, 0.30);
            padding: 2px 10px;
            display: inline-block;
            color: $body-bg;
            text-transform: uppercase;
        }
    }

    .bg-shape {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

         @include breakpoint (max-xxl) {
           height: 470px;
        }

         @include breakpoint (max-md) {
           height: 270px;
        }

        img {
            @include imgw;
            border-radius: 40px;
        }
    }

    .top-image {
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;

         @include breakpoint (max-xxl) {
           display: none;
        }

        img {
            @include imgw;
        }
    }

    .hero-image {
        position: relative;
        z-index: 9999;

        img {
            @include imgw;
        }
    }

    .hero-content {
        padding-bottom: 70px;
        margin-left: 40px;
        position: relative;
        z-index: 9999;

         @include breakpoint (max-xxl) {
           margin-left: 0;
        }

        @include breakpoint (max-lg) {
           padding-bottom: 0;
        }

        h4 {
            font-size: 100px;
            font-weight: 700;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: $body-bg;

            span {
                font-weight: 400;
            }

             @include breakpoint (max-xxxl) {
                font-size: 68px;
            }

             @include breakpoint (max-xxl) {
                font-size: 44px;
            }

            @include breakpoint (max-lg) {
                font-size: 80px;
                color: $white;
            }

             @include breakpoint (max-sm) {
               font-size: 35px;
               margin-bottom: 5px;
               color: $white;
            }
        }

        h1 {
            font-size: 380px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: .5px;
            color: $body-bg;
            line-height: 90%;

             @include breakpoint (max-xl4) {
                font-size: 340px;
            }

             @include breakpoint (max-xxxl) {
                font-size: 288px;
            }

             @include breakpoint (max-xxl) {
                font-size: 215px;
            }

            @include breakpoint (max-lg) {
                font-size: 275px;
                color: $white;
            }

             @include breakpoint (max-sm) {
               font-size: 80px;
            }
        }

        .hero-bottom {
            @include flex;
            justify-content: space-between;
            margin-top: 20px;

             @include breakpoint (max-xxl) {
                flex-wrap: wrap;
                gap: 20px;
            }


            .theme-btn {
               background-color: $white;
               color: #060606;

                &::before {
                    background-color: $body-bg;
                }

                &:hover {
                    border: 1px solid $body-bg;
                    color: $white;
                }
            }

            span {
                font-size: 100px;
                font-weight: 400;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                font-family: $heading-font;
                color: $body-bg;

                @include breakpoint (max-xxxl) {
                    font-size: 70px;
                }

                 @include breakpoint (max-xxl) {
                    font-size: 50px;
                }

                @include breakpoint (max-lg) {
                    font-size: 60px;
                    color: $white;
                }

                @include breakpoint (max-sm) {
                  font-size: 40px;
                }
            }
        }
    }
}

.banner-four {
  background-color: $black;
  padding: 260px 0px 130px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-bottom: 1px solid #414141;
  &::before {
    content: "";
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: left top 100px;
    background-image: url("../images/banner/line.png");
  }
  .intro {
    padding-left: 180px;
    p {
      max-width: 400px;
      margin-bottom: 30px;
    }
  }

  .arrow {
    position: relative;
    display: block;
    width: 100%;
    max-width: 740px;
    &::before {
      content: "";
      position: absolute;
      left: 0px;
      right: 0px;
      height: 2px;
      width: calc(100% - 6px);
      background-color: var(--white);
    }
    &::after {
      content: "\f105";
      font-family: "Font Awesome 6 Pro";
      position: absolute;
      right: 4px;
      top: 50%;
      transform: translateY(-48%);
      font-size: 24px;
    }
  }

  .banner-four__content {
    position: relative;
    z-index: 9;
  }

  .banner-four__title {
    max-width: 1100px;
    margin-top: 70px;
    h1 {
      text-transform: uppercase;
      font-weight: 900;
      text-align: center;
    }

    .frame {
    //   @include box(160px);
      display: inline-flex;
      font-size: 46px;
      position: relative;
      color: white;
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0px;
        animation: rotateInfinite 24s linear infinite;
        animation-play-state: running;
      }

      i {
        // @include box(110px);
        background-color: var(--primary-color);
      }

      &:hover {
        img {
          animation-play-state: paused;
        }
      }
    }
  }

  .small {
    position: absolute;
    top: 260px;
    left: 9%;
    z-index: 2;
    max-width: 15vw;
  }

  .large {
    position: absolute;
    top: 100px;
    right: 6%;
    z-index: -1;
    max-width: 30vw;
  }
}


.gt-vertical-portfolio {
  .slider {
    min-height: 50vh;

    .swiper-slide {
      overflow: hidden;
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;

      .slide-inner {
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;

        img {
          position: absolute;
          width: 100vw;
          height: 100vh;
          object-fit: cover;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }

  .swiper-container {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .theme-btn {
    border: 1px solid 1px solid rgba(255, 255, 255, 0.16);
    color: $white;
    margin-top: 50px;

    &:hover {
        color: $black;
    }
  }

  .hero-content {
      max-width: 400px;

    h6 {
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.16);
        margin-bottom: 20px;
        font-size: 28px;
    }

    p {
        color: $white;
    }

  }

  &__content {
    z-index: 9;
    left: 50px;
    right: 50px;
    bottom: 100px;
    position: absolute;
    z-index: 99;
    display: flex;
    align-items: end;
    justify-content: space-between;

     @include breakpoint (max-xxl) {
        flex-wrap: wrap;
        left: 30px;
        right: 30px;
    }

    &-title {
      opacity: 0;
      font-size: 100px;
      line-height: 1.05;
      color: var(--white);
      transform: translateY(-130px);
      position: relative;
      z-index: 999;
      max-width: 800px;

       @include breakpoint (max-xxl) {
        font-size: 80px;
    }

       @include breakpoint (max-lg) {
        font-size: 60px;
    }

      @include breakpoint (max-md) {
        font-size: 60px;
    }

     @include breakpoint (max-sm) {
        font-size: 40px;
    }

      a {
        &:hover {
          color: $white;
        }
      }
    }
  }

 
  .swiper-slide-active {
    .gt-vertical-portfolio {
      &__item {
        animation-name: qodef-animate-slide-out;
        animation-duration: 1.3s;
        animation-fill-mode: forwards;
      }

      &__content {
        &-title {
          opacity: 1;
          transform: translateY(0px);
          transition: all 2200ms ease;
        }
      }
    }
  }

  &__slider {
    width: 100vw;
    height: 100vh;

    &__arrow {
      gap: 40px;
      right: 50px;
      bottom: 50px;
      z-index: 99;
      display: flex;
      position: absolute;
      align-items: center;

      &-prev,
      &-next {
        gap: 8px;
        display: flex;
        font-size: 14px;
        font-weight: 600;
        align-items: center;
        color: var(--white);
      }
    }
  }

  .array-button {
        display: grid;
        align-items: center;
        gap: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 50px;
        z-index: 999;

        @include breakpoint (max-xxxl){
            display: none;
        }

        .array-prev,.array-next {
            border-radius: 100px;
            border: 1.5px solid rgba(255, 255, 255, 0.20);
            width: 48px;
            height: 48px;
            line-height: 48px;
            text-align: center;
            border-radius: 50%;
            color: $theme-color;
            @include transition;
            cursor: pointer;
           

            &:hover {
                background-color: $theme-color;
                color: #060606;
            }
        }
    }
}

.gt-horizontal-portfolio {
  .slider {
    min-height: 100vh;

    .swiper-slide {
      overflow: hidden;
      position: relative;
      height: 100vh;
      display: flex;
      justify-content: center;

      .slide-inner {
        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;

        img {
          position: absolute;
          width: 100vw;
          height: 100vh;
          object-fit: cover;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }

  .swiper-container {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .theme-btn {
    border: 1px solid rgba(255, 255, 255, 0.16);
    color: $white;
    margin-top: 50px;

    &:hover {
      color: $black;
    }
  }

  .hero-content {
    max-width: 400px;

    h6 {
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.16);
      margin-bottom: 20px;
      font-size: 28px;
    }

    p {
      color: $white;
    }
  }

  &__content {
    z-index: 9;
    left: 50px;
    right: 50px;
    bottom: 100px;
    position: absolute;
    display: flex;
    align-items: end;
    justify-content: space-between;

    @include breakpoint (max-xxl) {
        flex-wrap: wrap;
        left: 30px;
        right: 30px;
    }

    &-title {
      opacity: 0;
      font-size: 100px;
      line-height: 1.05;
      color: $white;
      transform: translateY(-130px);
      position: relative;
      max-width: 800px;
      transition: all 2s ease;

       @include breakpoint (max-xxl) {
        font-size: 80px;
    }

       @include breakpoint (max-lg) {
        font-size: 60px;
    }

      @include breakpoint (max-md) {
        font-size: 60px;
    }

     @include breakpoint (max-sm) {
        font-size: 40px;
    }

      a:hover {
        color: $white;
      }
    }
  }

  .swiper-slide-active {
    .gt-horizontal-portfolio__content-title {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .array-button {
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 999;

    @include breakpoint(max-xxxl) {
      display: none;
    }

    .array-prev,
    .array-next {
      border: 1.5px solid rgba(255, 255, 255, 0.2);
      width: 48px;
      height: 48px;
      line-height: 48px;
      text-align: center;
      border-radius: 50%;
      color: $theme-color;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: $theme-color;
        color: #060606;
      }
    }
  }
}

.gt-portfolio-parallax-box-slider {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    margin-left: 10px;
    position: relative;
    align-items: center;
    justify-content: flex-start;

    .gt-parallax-slider-inner {
        gap: 10px;
        width: 100%;
        height: 100vh;
        display: flex;
        padding-top: 200px;
        align-items: center;
        justify-content: flex-start;

         @include breakpoint (max-xxl) {
            padding-top: 160px;
        }

        @include breakpoint (max-lg) {
            padding-top: 130px;
        }
    }

    .gt-parallax-slider-item {
        width: 500px;
        height: 100%;
        overflow: hidden;
        position: relative;
        background-size: cover;
        border-radius: 20px;

        img {
           height: 70%;
            min-width: 750px;
            object-fit: cover;
            margin-left: -50px;
            background-size: cover;
            background-position: center;
            border-radius: 20px;
        }
    }

    .content {
      margin-top: 20px;

      h3 {
        font-weight: 700;
        margin-top: 5px;
        font-size: 30px;

        a {
          &:hover {
            color: $theme-color;
          }
        }
      }
    }
}